<section>
  <div class="container">
    <div class="footer-ingredient">
      <p>* Salsa albahaca : albahaca, ajo y aceite de oliva virgen extra</p>
      <p>** ingrediente vegetal : + 0.50 €</p>
      <p>** ingrediente cárnico : + 1.00 €</p>
      <p>** ingrediente masa americana : + 2.00 €</p>
      <p>** ingrediente salmón ahumado, jamón ibérico o productos "del mar" : + 2.00 €</p>
    </br>
    <p>ALERGIAS : Si padece de cualquier alergia, gracias por señalarlo. Rgto 1109/2011.</p>
    <p>Nuestras pizzas pueden contener mostaza.</p>
</div>
</section>
