<!DOCTYPE html>
<html>
<head>
	<title>Pizzeria Arena Home</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- links -->
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/components/table.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link href="css/stylesheet.css" rel="stylesheet">
</head>

<body>

		<div class="header">
			<div class="top-header">
				<div class="container">

					<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
						<div class="navbar-brand"> <img id="logo" src="img/logo.png" alt="logo"></div>
						<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
							<div class="navbar-nav">
								<a class="nav-item nav-link active" href="index.ejs">PIZZAS</a>
								<a class="nav-item nav-link" href="crepes.ejs">CRÊPES</a>
								<a class="nav-item nav-link" href="bebidas.ejs">BEBIDAS</a>
								<a class="nav-item nav-link" href="contacto.ejs">CONTACTO</a>
								<a class="nav-item nav-link" href="promocion.ejs">PROMOCIÓN</a>
								<a class="nav-item nav-link language" href="index.ejs"><img class=" nav-flag" src="img/rsz_es.jpg"  alt=spanishFlag></a>
								<a class="nav-item nav-link language" href="french/indexFrench.ejs"><img class=" nav-flag" src="img/rsz_fr.jpg"  alt=frenchFLag></a>
								<a class="nav-item nav-link language" href="english/indexEnglish.ejs"><img class=" nav-flag" src="img/rsz_uk.jpg" alt=UKFlag></a>

							</div>
						</div>
					</nav>
				</div> <!-- div closing container -->
			</div> <!-- div closing top header -->
		</div> <!-- div closing header -->
