

<%- include('partials/header'); -%>
<%- include('partials/promo'); -%>

	<!-- well class sectiom -->
	<section>
		<div class="container">
			<div class="col-12 flexwrap">
				<h1 class="style-h1-flex"><span>NUESTRAS PIZZAS</span></h1>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-6 col-lg-4">
					<div class="well">
						<a href="pizzaSimple.ejs"><img class="center-block" src="img/rsz_new4.jpg"  alt="Foto pizza simple">
							<div class ="centered">
								<h6>Base Roja</h6>
								<h6>Base Blanca</h6>
								<h6>Sin Gluten</h6>
							</div>
							<div class="my-caption"><h4>PIZZA: SIMPLES</h4>
							</div>
						</a>
					</div><!-- closing div well -->
				</div><!-- closing div col -->

				<div class="col-sm-12 col-md-6 col-lg-4">
					<div class="well">
						<a href="pizzaCarne.ejs">
							<img class="center-block" src="img/rsz_new2.jpg" alt="Foto pizza carne">
							<div class ="centered">
								<div class="left">
									<h6>Agricola</h6>
									<h6>Arena</h6>
									<h6>Atomica</h6>
									<h6>Bergere</h6>
									<h6>Campesina</h6>
									<h6>Hawaina</h6>
									<h6>Ibérica</h6>
								</div>
								<div class="right">
									<h6>Ranchera</h6>
									<h6>Real</h6>
									<h6>Regina</h6>
									<h6>Reina</h6>
									<h6>Salami</h6>
									<h6>Sin Gluten</h6>
								</div>
							</div>

							<div class="my-caption"><h4>PIZZA: CARNE</h4>
							</div>
						</a>
					</div><!-- closing div well -->
				</div><!-- closing div col -->

				<div class="col-sm-12 col-md-6 col-lg-4">
					<div class="well">
						<a href="pizzaPescado.ejs"><img class="center-block" src="img/rsz_new3.jpg" alt="Foto pizza pescado">
							<div class ="centered">
								<h6>Del Mar</h6>
								<h6>Marinera</h6>
								<h6>Napolitana</h6>
								<h6>Nimes</h6>
								<h6>Noruega</h6>
								<h6>Romana</h6>
								<h6>Sin Gluten</h6>
							</div>
							<div class="my-caption"><h4>PIZZA: MARISCO</h4>
							</div>
						</a>
					</div><!-- closing div well -->
				</div><!-- closing div col -->

				<div class="col-sm-12 col-md-6 col-lg-4">
					<div class="well">
						<a href="pizzaQueso.ejs"><img class="center-block" src="img/rsz_new4.jpg" alt="Foto pizza queso">
							<div class ="centered">
								<h6>4 Quesos</h6>
								<h6>Margarita</h6>
								<h6>Sin Gluten</h6>
							</div>
							<div class="my-caption"><h4>PIZZA: QUESO</h4>
							</div>
						</a>
					</div><!-- closing div well -->
				</div><!-- closing div col -->

				<div class="col-sm-12 col-md-6 col-lg-4">
					<div class="well">
						<a href="pizzaVegetal.ejs"><img class="center-block" src="img/rsz_new5.jpg" alt="Foto pizza vegetal">
							<div class ="centered">
								<h6>Vegetal</h6>
								<h6>4 Quesos</h6>
								<h6>Margarita</h6>
								<h6>Guacamole</h6>
								<h6>Sin Gluten</h6>
							</div>
							<div class="my-caption"><h4>PIZZA: VEGETAL</h4>
							</div>
						</a>
					</div><!-- closing div well -->
				</div><!-- closing div col -->

				<div class="col-sm-12 col-md-6 col-lg-4">
					<div class="well">
						<a href="pizzaPersonalizada.ejs"><img  class="center-block" src="img/rsz_new6.jpg" alt="Foto pizza personalizada">
							<div class ="centered">
								<h6>Al Gusto</h6>
								<h6>Mitad/Mitad</h6>
							</div>
							<div class="my-caption"><h4>PIZZA: PERSONALIZADA</h4>
							</div>
						</a>
					</div><!-- closing div well -->
				</div><!-- closing div col -->
			</div>  <!-- closing div row -->
		</div><!-- closing div container -->
	</section>


	<%- include('partials/footer'); -%>
