<%- include('header'); -%>

	<section>
		<div class="container">
			<div class="col-12 flexwrap">
				<h1 class="style-h1-flex"><span>PIZZA QUESOS</span></h1>
			</div>
			<div class="row">
				<div class="container">
					<div class="col-xs-10 col-xs-offset-1">
						<table class="ui stackable table tblUsers">
							<thead class="hidden-phone">
								<tr>
									<th rowspan="2">PIZZA</th>
									<th rowspan="2">INGREDIENTES</th>
									<th>COMEDOR</th>
									<th>PARA LLEVAR</th>
									<th>COMEDOR</th>
									<th>PARA LLEVAR</th>
								</tr>
								<tr>
									<th colspan="2" class="sec-row">Individual (25cm)</th>
									<th colspan="2" class="sec-row">Grande (32cm)</th>
								</tr>
							</thead>
							<tbody>  <tr>
								<td class="pizza-name" data-th="Pizza">4 QUESOS</td>
								<td data-th="Ingredientes">Mozzarella, salsa de nata, queso de cabra, roquefort y parmesano</td>
								<td data-th="Comedor - Individual">9.90 €</td>
								<td data-th="Para llevar - Individual">8.90 €</td>
								<td data-th="Comedor - Grande">13.90 €</td>
								<td data-th="Para llevar - Grande">11.90 €</td>
							</tr>

							<tr>
								<td class="pizza-name" data-th="Pizza">MARGARITA</td>
								<td data-th="Ingredientes">Mozzarella fresca de bufala, salsa tomate, tomate natural y salsa albahaca*</td>
								<td data-th="Comedor - Individual">9.90 €</td>
								<td data-th="Para llevar - Individual">8.90 €</td>
								<td data-th="Comedor - Grande">13.90 €</td>
								<td data-th="Para llevar - Grande">12.90 €</td>
							</tr>

							<tr>
								<td class="pizza-name" data-th="Pizza">SIN GLUTEN</td>
								<td data-th="Ingredientes">Elige la pizza que quiere y la masa sera sin gluten (tamaño individual) Puede contener trazas de gluten.</td>
								<td data-th="Comedor - Individual">10.50 €</td>
								<td data-th="Para llevar - Individual"></td>
								<td data-th="Comedor - Grande"></td>
								<td data-th="Para llevar - Grande"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>

<%- include('footer-ingredients'); -%>
<%- include('footer'); -%>
